.draggable-poppup-outer {
    position: absolute;
    z-index: 0;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    display: block;
    /* background-color: #c4cbff; */
    background-color: rgb(253, 251, 247);
    border: 1px solid black;
    padding: 1px;
}

.draggable-poppup-handle {
    width: 100%;
    height: 23px;
    display: block;
    background-color: #4d4d4d;
    color: white;
}

.risizable-draggable-poppup-outer {
    background-color: rgb(253, 251, 247);
    border: 1px solid black;
}

.risizable-draggable-poppup-handle {
    width: 100%;
    height: 23px;
    display: block;
    background-color: #4d4d4d;
    color: white;
    cursor: default;
}

canvas{
    
 }